<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My wish list</title>
</head>
<body>
    <div class="container">
        <h1>
            <%= dateToRender %>
        </h1>
        <form action="/" method="post">
            <input type="text" name="userWish" placeholder="add a wish">
            <button type="submit">Add a wish</button>

        </form>

        <div class="wish-container">

        </div>

    </div>
    
</body>
</html>